<div style="position: fixed;width: 100vw;height: 80vh;display: flex;align-items: center;justify-content: center">
  <ngx-file-picker #uploader
    [uploadType]="'multi'"
    (validationError)= "onValidationError($event)"
    [adapter]="adapter"
    [enableCropper]="true"
    (uploadSuccess)="onUploadSuccess($event)"
    (uploadFail)="onUploadFail($event)"
    (removeSuccess)="onRemoveSuccess($event)"
    [showeDragDropZone]="true"
    [showPreviewContainer]="true"
    [accept]="'image/*'"
    (fileAdded)="onFileAdded($event)"
    [cropperOptions]="cropperOptions"
 >
  <!-- <div class="dropzoneTemplate">
    <button>Custom</button>
  </div> -->
</ngx-file-picker>
<!-- <button (click)="removeFile()">Remove First File</button> -->

</div>

<ng-template #itemTemplate let-fileItem="fileItem" let-uploadProgress="uploadProgress">
  <p>{{fileItem.file.size}}</p>
  <p>{{fileItem.fileName}}</p>
  <p>{{uploadProgress}}</p>
  <button (click)="uploader.removeFile(fileItem)">Remove</button>
</ng-template>
